<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developing Technology with Indonesia Culture</title>

    <!-- ==========     CSS LINK     ========== -->
    <link rel="stylesheet" href="../css/mainstyle.css">
    <link rel="stylesheet" href="../css/include/style.css">
    <link rel="stylesheet" href="../css/include/navbar.css">
    <link rel="stylesheet" href="../css/include/responsivestyle.css">

    <!-- ==========     FONTS     ========== -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
          rel="stylesheet" />
    
</head>
<body>
    <!-- ==========     HEADER AREA     ========== -->
    <header class="l-header scroll-header" id="header">
        <nav class="nav bd-container header-reveal">
            <a href="#" class="nav__logo">NeoTech</a>
            <div class="nav__toggle" id="nav-toggle">
                <span></span>
                <span></span>
            </div>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list" id="nav-list">
                    <li class="nav__item" id="nav-home"><a href="../index.html" id="link-home" class="nav__link">Home</a></li>
                    <li class="nav__item" id="nav-about"><a href="gallery.html" id="link-gallery" class="nav__link">Gallery</a></li>
                    <li class="nav__item" id="nav-about"><a href="#" id="link-team" class="nav__link active-link">Our team</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- ==========     MAIN AREA     ========== -->
    <main>
        <section class="ourteam-jumbotron jumbotron-reveal">
            <div class="ourteam-jc">
                <div class="row ourteam-jr ourteam-text-jr">
                    <div class="content-ourteam title-ourteam-jr">
                        <span class="subtitle-ourteam-j">THE TEAM OF</span>
                        <div class="title-ourteam-j">
                            <span class="rbl">N</span>
                            <span class="rbl">e</span>
                            <span class="rbl">o</span>
                            <span class="rbl">T</span>
                            <span class="rbl">e</span>
                            <span class="rbl">c</span>
                            <span class="rbl">h</span>
                        </div>
                    </div>
                </div>
                <div class="row ourteam-jr ourteam-img-jr">
                    <div class="content-ourteam img-ourteam-j">
                        <a href="#team" class="button-sd">
                            <button class="scroll-down">TEAM</button>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="ourteam-team-1 js-scroll slide-left" id="team">
            <div class="tc-1">
                <div class="tr-1 tr-text-1-mobile">
                    <div class="text-name-1">
                        <span class="nama-team-1">Latifa</span>
                        <span class="role-team-1">as an UI/UX Designer</span>
                    </div>
                    <div class="text-icon-1">
                        <a href="https://web.facebook.com/latifasalsabila.latifasalsabila.3" target="_blank"><i class='bx bxl-facebook-square'></i></a>
                        <a href="https://www.instagram.com/latifasalsab/" target="_blank"><i class='bx bxl-instagram'></i></a>
                        <a href="https://www.linkedin.com/in/latifa-salsabila-87810a215" target="_blank"><i class='bx bxl-linkedin-square'></i></a>
                    </div>
                </div>
                <div class="tr-1 tr-img-1">
                </div>
                <div class="tr-1 tr-text-1">
                    <div class="text-name-1">
                        <span class="nama-team-1">Latifa</span>
                        <span class="role-team-1">as an UI/UX Designer</span>
                    </div>
                    <div class="text-icon-1">
                        <a href="https://web.facebook.com/latifasalsabila.latifasalsabila.3" target="_blank"><i class='bx bxl-facebook-square'></i></a>
                        <a href="https://www.instagram.com/latifasalsab/" target="_blank"><i class='bx bxl-instagram'></i></a>
                        <a href="https://www.linkedin.com/in/latifa-salsabila-87810a215" target="_blank"><i class='bx bxl-linkedin-square'></i></a>
                    </div>
                </div>
            </div>
        </section>

        <section class="ourteam-team-2 js-scroll slide-left">
            <div class="tc-2">
                <div class="tr-2 tr-text-2">
                    <div class="text-name-2">
                        <span class="nama-team-2">Sintaina</span>
                        <span class="role-team-2">as an Illustrator</span>
                    </div>
                    <div class="text-icon-2">
                        <a href="https://www.instagram.com/sintanfa/" target="_blank"><i class='bx bxl-instagram'></i></a>
                        <a href="https://www.linkedin.com/in/sintainanurfadilla" target="_blank"><i class='bx bxl-linkedin-square'></i></a>
                    </div>
                </div>
                <div class="tr-2 tr-img-2">
                </div>
            </div>
        </section>

        <section class="ourteam-team-3 js-scroll slide-left">
            <div class="tc-3">
                <div class="tr-3 tr-text-3-mobile">
                    <div class="text-name-3">
                        <span class="nama-team-3">Sabrina</span>
                        <span class="role-team-3">as a Front End Developer</span>
                    </div>
                    <div class="text-icon-3">
                        <a href="https://www.facebook.com/sabrina.aska.amalina" target="_blank"><i class='bx bxl-facebook-square'></i></a>
                        <a href="https://www.instagram.com/sabrinaskaa/" target="_blank"><i class='bx bxl-instagram'></i></a>
                        <a href="https://www.linkedin.com/in/sabrinaskaa" target="_blank"><i class='bx bxl-linkedin-square'></i></a>
                    </div>
                </div>
                <div class="tr-3 tr-img-3">
                </div>
                <div class="tr-3 tr-text-3">
                    <div class="text-name-3">
                        <span class="nama-team-3">Sabrina</span>
                        <span class="role-team-3">as a Front End Developer</span>
                    </div>
                    <div class="text-icon-3">
                        <a href="https://www.facebook.com/sabrina.aska.amalina" target="_blank"><i class='bx bxl-facebook-square'></i></a>
                        <a href="https://www.instagram.com/sabrinaskaa/" target="_blank"><i class='bx bxl-instagram'></i></a>
                        <a href="https://www.linkedin.com/in/sabrinaskaa" target="_blank"><i class='bx bxl-linkedin-square'></i></a>
                    </div>
                </div>
            </div>
        </section>

        <section class="footer home-footer">
            <div class="footer-section">
                <div class="footer-container container-footer-home">
                    <div class="footer-row row-footer-home">
                        <div class="footer-content">
                            <a href="#" class="content-logo logo-footer">NeoTech</a>
                            <div class="footer__menu">
                                <ul class="footer__list">
                                    <li class="footer__item"><a href="../index.html" class="footer__link">HOME</a></li>
                                    <li class="footer__item"><a href="gallery.html" class="footer__link">GALLERY</a></li>
                                    <li class="footer__item"><a href="#" class="footer__link">OUR TEAM</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-last-content">
                            <div class="text-copy-right-team">
                                <p class="cr">Copyright ©2021 NeoTech</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="../js/our-team.js"></script>
</body>
</html>